<a href="https://colab.research.google.com/github/Jesi1511/Jesi1511/blob/main/connect_to_sqlite_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connecting Python To Databases Via Google Colaboratory (Colab)
Using Cursor Object and Panda DataFrame to work with POSTGRESQL, MYSQL/MARIADB, MS SQL and SQLITE data sources

# SQLITE

##Download remote sqlite db file

In [ ]:
file_url='https://www.dropbox.com/s/a2wax843eniq12g/flights.db'
file_name=file_url.split('/')[-1]
!wget {file_url}

In [ ]:
import sqlite3
lt_conn = sqlite3.connect(file_name)

##Use Cursor Object to manipulate database

In [ ]:
import sqlite3
lt_conn = sqlite3.connect(file_name)
db_cursor = lt_conn.cursor()
db_cursor.execute("select * from airlines limit 5;")
for row in db_cursor:
  print(row)
db_cursor.close()
db_cursor.close()

## Connecting to sqlite db file in google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
gdrv_file='/content/flights.db'

In [ ]:
import sqlite3
lt_conn = sqlite3.connect(gdrv_file)
db_cursor = lt_conn.cursor()
db_cursor.execute("select * from airlines limit 5;")
db_rows = db_cursor.fetchall()
print(db_rows[0])
db_cursor.close()
lt_conn.close()

# Using Pandas DataFrame to manipulate database

In [ ]:
import sqlite3
import pandas as pd
lt_conn = sqlite3.connect(gdrv_file)
db_query = pd.read_sql_query('''select * from airlines limit 5;''', lt_conn)
df = pd.DataFrame(db_query)
lt_conn.close()
df